.thumbnail > img {
    width: 100%;
    max-height: px;
    object-fit: cover;
    
}
#side-pic-a{
    height: 900px !important;
}
#side-pic-b {
    height: 900px !important;
}
.text-vertical-center {
    /*display: table-cell;
    text-align: center;
    vertical-align: bottom;*/
    text-align: center;
    position: fixed;
    bottom: 5%;
    width: 100%
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/*/.row > div{
    border:1px solid;     /* this will inherit the parent color as the border-color *
    border-color:inherit; /* this will inherit the parent's inherited border-color *
}*/


.search-bar-div{
    margin-top: 20px;
    margin-bottom: 20px; 
}
.search-bar-div{
    width:inherit;
}


.col-md-8,
.col-md-3,
.col-md-5,
.col-md-7{
    padding: 0% 1% 0% 1%;
    margin: 0px;
}
.col-md-4{
    padding: 0% 1% 0% 1%;
    margin: 0px;
}

/*
#side-pic-a, #side-pic-b{
    height: 800px;
}*/
/*/.caption{
    border: 1px solid green;
}*/
.thumbnail{
    background-color: rgba(0,0,0,0.3);
    border-radius: 0px;
    cursor: pointer;
}
.caption > p,
.caption > h3{
    color: #FFF;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(255, 193, 61, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 193, 61, 0.6);
  outline: 0 none;
}


.loadingStuff > h1{
    margin: 3%;
    
    text-align:center;
    color: #FFF;
}
.loader {
    margin: auto;
    border: 32px solid #f3f3f3; /* Light grey */
    border-top: 32px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 240px;
    height: 240px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#rows{
    visibility: visible;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*
 * Styles copied from the Grid example to make grid rows & columns visible.
 */



.row {
    margin-top: 20px;
}
.no-margin-top{
    margin-top: 0px !important;
}
[class*="col-"] {
    
}

.thumbnail{
    height: 100%;
    
}