
.text-holder{
   position:absolute;
   left: 0;
   bottom: 4%;
   width: 96%;
   height: 30%;
   background-color: rgba(0,0,0,0.7);
}

.text-vertical-center {
    text-align: center;
    position: fixed;
    bottom: 5%;
    width: 100%
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.search-bar-div{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px; 
}


.col-md-8,
.col-md-4,
.col-md-3{
    padding: 0px;
    margin: 0px;
    
}

a.list-group-item {
    height:auto;
    min-height:220px;
    background-color: rgba(41, 43, 45, 1);
    color: #FFF;
    border-radius: 0;
    margin-bottom: 2%;
}

.content-header{
    font-weight:500;
}
.media{
    height: 100%;
}
.pull-left{
    margin: auto;
}
.media-object{ 
    width: 200px;
    object-fit: cover;
    border-radius: 0;
}

h1{
    color: #FFF;
    margin: auto auto;
    text-align:center;
    margin-bottom: 2%;
}
.list-group-item:hover .content-header{
    color: black !important;
}

.list-group-item:hover .col-md-9{
    color: black !important;
}
