html
,body {
    width: 100%;
    height: 100%;
    background-color: #212223;
    
}
body {
	font-family: 'Orbitron', sans-serif;
	color: #FFF;
}


.banner-div{
    width: 100%;
}
.banner-img{
    width: 100%;
    height: 100%; 
}
.btn-dark {
    text-anchor:start;
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0);
    height: 50px;
    border-top: 3px solid #ffc13d;
    border-bottom: 3px solid #ffc13d;
    border-left: 1px solid #ffc13d;
    border-right: 1px solid #ffc13d;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active{
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}
.col-md-8,
.col-md-2,
.row,
.col-md-4,
.col-md-3{
    padding: 0px;
    margin: 0px;
}

.main-part{
    width: 100%;
    margin:0;
    padding: 0;
    /*/background: url(../img/sidebar2.jpg) fixed;
    background-size: cover;*/
}
.content-holder{
    width: 70%;
    border: 1px solid rgba(0,0,0,0);
    margin: 0% 15%;
    padding: 0% 2%;
    /*
    background-color: #414244;*/
    background-color: #212223;
}
.nav-bar-top > *{
    margin-bottom: 0;
}
#title{
    text-align:center;
    text-wrap:normal;
    font-size:48px;
    margin: 2% 0;
}

#image{
    padding:0;
    width: 100%;
}
.deck{
    position: center;
    font-size: 16px;
    vertical-align:middle;
    text-align: justify;
}
h2{
    text-align: center;
    margin: 3%;
}
.left-sidebar{
    display:block;
    position: fixed;
    height: 100%;
    width: 15%;
    padding: 0;
    margin-top: 0;
    margin-right: 85%;
    background: url(../img/poster1.jpg) fixed no-repeat;
    background-size: contain;
    /*/background-position-x: -15%;*/
}
.right-sidebar{
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-left: 85%;
    background: url(../img/poster2.jpg) fixed no-repeat;
    background-size: contain;
    background-position-x: 110%;
}

.loadingStuff > h1{
    margin: 3%;
    
    text-align:center;
    color: #FFF;
}
.loader {
    margin: auto;
    border: 32px solid #f3f3f3; /* Light grey */
    border-top: 32px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 240px;
    height: 240px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}